.jumbotron {
  height: 200px;
  text-align: center;
  justify-content: center;
  padding: 1rem 2rem;
}

/* .form-control {
  width: 80%;
} */

main {
  margin: 5px;
}

.past {
  background-color: darkslategray;

}

.present {
  background-color: cyan;
}

.future {
  background-color: gainsboro;
}